"*":
  Hydrogen:
    gateways: '''
      [{
        "name": "Remote",
        "options": {
          "baseUrl": "http://localhost:8888"
        }
      }]
    '''
  core:
    disabledPackages: [
      "linter-markdownlint"
    ]
    packagesWithSnippetsDisabled: [
      "language-python"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    scrollPastEnd: true
    softWrap: true
  "exception-reporting":
    userId: "8ee937f3-9d2f-4c75-bc77-f31ad9ccc375"
  "ide-python":
    pylsPlugins:
      autopep8:
        enabled: false
      flake8: {}
      jedi_completion: {}
      jedi_definition:
        follow_builtin_imports: true
        follow_imports: true
      jedi_hover: {}
      jedi_signature_help: {}
      pycodestyle:
        enabled: false
      pydocstyle:
        enabled: true
      pyflakes:
        enabled: false
      pylint: {}
      pyls_mypy:
        enabled: false
        live_mode: false
      rope_completion: {}
  "linter-ui-default":
    panelHeight: 136
  "sync-settings":
    autoCheckForUpdatedBackup: "no"
    gistId: "61852d231ab2875f7d8cc7daa02d00f3"
    hiddenSettings:
      _lastBackupTime: "2022-03-11T16:06:30Z"
    personalAccessToken: "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"
  welcome:
    showOnStartup: false
